<!DOCTYPE html>
<html lang="en">
<head>
    <title>Landcon 2022</title>
    <meta property="og:title" content="Starting in <%= dateString %>" />
    <meta property="og:site_name" content="Landcon 2022" />
    <meta name="theme-color" content="#C683DA"/>
</head>
<body>
    <script>
        window.location.href = "https://landcon.org";
    </script>
</body>
</html>